{% assign author_key = post.author | downcase %}
{% assign author = site.data.authors[author_key] %}
{% if post.image contains "://" %}
    {% capture page_image %}{{ post.image }}{% endcapture %}
{% else  %}
    {% capture page_image %}{{ site.baseurl }}/assets/images/{{author_key}}/{{ post.image }}{% endcapture %}
{% endif %}
<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img class="featured-box-img-cover" loading="lazy" src="{{ page_image }}" alt="{{ post.title }}" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                {% if post.rating %}
                                <div class="mb-2 mt-2 font-weight-normal">
                                {% include star_rating_postbox.html %}
                                </div>
                                {% endif %}
                            </h2>

                            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
{% if post.author %}
    {% if author.web %}
        {% capture author_web %}{{ author.web }}{% endcapture %}
    {% else  %}
        {% capture author_web %}{{ site.baseurl }}/authors#{{ author.id }}{% endcapture %}
    {% endif %}
                                <span class="meta-footer-thumb">
                                    <a href="{{ author_web }}">
    {% if author.avatar %}
                                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.name }}" />
    {% else %}
                                        <img class="author-thumb" src="{{site.baseurl}}/assets/images/{{ author_key }}/avatar.webp" alt="{{ author.name }}" />                
    {% endif %}
                                    </a>
                                </span>
                                <span class="author-meta">
                                    <span class="post-name">
                                        <a href="{{ author_web }}">{{ author.name }}</a>
                                    </span>
                                    <br/>
{% endif %}
                                    <span class="post-date">{{ post.date | date_to_string }}</span>
                                </span>
                                <span class="post-read-more">
                                    <button class="btn btn-lg save" onclick="addToCookbook(this, '{{ site.baseurl }}{{ post.url }}', '{{ page_image }}');" title="Save to my Cookbook" data-href="{{ site.baseurl }}{{ post.url }}" />
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
