<div>
    <h5 id="techniques">Saved Pages</h5>
    <ol id="cache-list">
    </ol>
    <div style="clear: left;" />
</div>

<script>
    async function renderCurrentKeys() {
        let list = document.querySelector('#cache-list');
        while (list.firstChild) {
            list.removeChild(list.firstChild);
        }
        const results = [];
        const cache = await caches.open('{{ site.pwa.cacheName }}{{ site.pwa.cacheVersion }}');
        for (const request of await cache.keys()) {
            const match = request.url.match(/\/\/(.*?)\/(.*)/);
            if (match) {
                const path = match[2];
                const response = await cache.match(request);
                const body = await response.text();
                const titleMatch = body.match(/<title>(.*)\|(.*?)<\/title>/);
                const title = (titleMatch != null) ? titleMatch[1] : request.url;
                const imageMatch = body.match(/<img.+?src=[\"'](.+?)[\"'].*?>/);
                const imageUrl = (imageMatch != null) ? imageMatch[1] : "";
                const authorMatch =    body.match(/<span class="post-author">(.*)<\/span>/);
                const author = (authorMatch != null) ? authorMatch[1] : 'none';
                const publishedMatch = body.match(/<span class="post-date">(.*)<\/span>/);
                const published = (publishedMatch != null) ? publishedMatch[1] : '';
                results.push({
                    path,
                    title,
                    imageUrl,
                    url: request.url,
                    author,
                    published,
                    visited: new Date(response.headers.get('date'))
                });
            }
        }
        if (results.length) {
            list.innerHTML = results
                .sort((a, b) => a.title > b.title ? 1 : -1)
                .map(res => {
                    let html = `
<li style="clear: left;">
<a href="${res.url}"><img src="${res.imageUrl}" width="100" style="float: left; margin-right: 10px;" /></a>
<div>
    <a href="${res.url}">${res.title}</a>
    <button class="btn trash" onclick="removeFromCache('${res.url}'); renderCurrentKeys();" title="Remove this page from your cookbook"></button>
</div>
<small> published by ${res.author} on ${res.published}, last visited ${res.visited.toISOString().substring(0, 10)}</small>
</li>`;
                    return html;
                })
                .join('\n');
        }
    }

    window.addEventListener('load', () => {
        renderCurrentKeys();
    });
</script>
