---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* footer */

.footer, body {
	background-color: #f7f7f7;
}

.footer-column {
	column-width: 180px;
	column-gap: 5em;
}

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display: inline;
}

/* search box */
input.launch-modal-search {
	min-width: 30px !important;
	width: 30px !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M448.3,424.7L335,311.3c20.8-26,33.3-59.1,33.3-95.1c0-84.1-68.1-152.2-152-152.2c-84,0-152,68.2-152,152.2 s68.1,152.2,152,152.2c36.2,0,69.4-12.7,95.5-33.8L425,448L448.3,424.7z M120.1,312.6c-25.7-25.7-39.8-59.9-39.8-96.3 s14.2-70.6,39.8-96.3S180,80,216.3,80c36.3,0,70.5,14.2,96.2,39.9s39.8,59.9,39.8,96.3s-14.2,70.6-39.8,96.3 c-25.7,25.7-59.9,39.9-96.2,39.9C180,352.5,145.8,338.3,120.1,312.6z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	background-color: transparent;
}
input.launch-modal-search:hover {
	background-image: none;
	min-width: 100px !important;
	width: 150px !important;
}
.lunrsearchresult .title {
	color: #d9230f;
}
.lunrsearchresult .url {
	color: silver;
}
.lunrsearchresult a {
	display: block; color: #777;
}
.lunrsearchresult a:hover, .lunrsearchresult a:focus {
	text-decoration: none;
}
.lunrsearchresult a:hover .title {
	text-decoration: underline;
}

/* cookbook */

#cache-list > li {
	padding-top: 10px;
}

.save {
	background-image: url("data:image/svg+xml,	%3Csvg xmlns='http://www.w3.org/2000/svg' class='svgIcon-use' fill='currentColor' width='25' height='25' viewbox='0 0 25 25'%3E%3Cpath d='M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;
	padding: 14px;
	margin-left: 15px;
}
.save:hover {
	background-color: rgb(239, 239, 239);
}

.saved {
	background-image: url("data:image/svg+xml,	%3Csvg xmlns='http://www.w3.org/2000/svg' class='svgIcon-use' fill='gold' width='25' height='25' viewbox='0 0 25 25'%3E%3Cpath d='M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;
	padding: 14px;
	margin-left: 15px;
}

.trash {
	background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-trash' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;
}
.trash:hover {
	background-color: rgb(239, 239, 239);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
